<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="content" class="container mt-4">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="card shadow-sm p-4" style="width: 100%; max-width: 400px;">
            <h2 class="text-center fw-bold mb-4">회원 가입</h2>
            <form th:action="@{/api/user/signup}" method="post">
                <div class="mb-4">
                    <label for="username" class="form-label">이름</label>
                    <input id="username" name="userName" class="form-control" minlength="2" maxlength="8">
                </div>
                <div class="mb-4">
                    <label for="loginId" class="form-label">ID</label>
                    <input id="loginId" name="loginId" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="password-input" class="form-label mt-2">PASSWORD</label>
                    <input type="password" id="password-input" name="password"
                           class="form-control" aria-describedby="passwordDescription"
                           minlength="4" maxlength="12"
                    >
                </div>
                <button type="submit" class="btn text-white fs-4 fw-bold btn-bg-spring w-100 py-2">회원가입</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
